{% extends 'mailing/base.html' %}
{% block content %}

<div class="row">
    <div class="col-6 mb-5">
        <a class="btn btn-primary" href="{% url 'mailing:create_mailing' %}">Добавить рассылки</a>
    </div>
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Письмо: {{ object.message }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Клиент: {{ object.clients }}</p>
                </div>
                <div class="card-footer">
                    <div class="btn-group ">
                        <a href="{% url 'mailing:single_view_mailing' object.pk %}" type="button"
                           class="btn btn-sm  btn-outline-primary">view</a>
                        <a href="{% url 'mailing:update_mailing' object.pk %}" type="button"
                           class="btn btn-sm  btn-outline-primary">edit</a>
                        <a href="{% url 'mailing:delete_mailing' object.pk %}" type="button"
                           class="btn btn-sm  btn-outline-danger">delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

